.plan {
    background: #3b5998;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    color: #f8f8f8;
    border-radius: 8px;
}

.plan .highlited {
    background: #1d2b49;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan .recommended {
    background: #f8f8f8;
    color: #1d2b49;
    padding: 16px 8px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan ul li {
    margin: 8px 0;
}