.header {
    position: fixed;
    width: 100%;
    background: #a6a6a6;
    top: 0;
    padding: 20px 16px;
    z-index: 1;
}

.header > div {
    display: inline-block;
    vertical-align: middle;
}

.header > div > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    height: 22px;
    display: inline-block;
}

.header > div > a > img {
    height: 100%;
}

.header nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 65px);
    text-align: right;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header li {
    display: inline-block;
    margin: 0 16px;
}

.header a {
    text-decoration: none;
    color: #f8f9fa;
}

.header a:hover,
.header a:active {
    color: #3b5998;
}

.header .cta a {
    background: #3b5998;
    padding: 8px 16px;
    border-radius: 8px;
    color: #f8f9fa;
    border: 4px #3b5998 solid;
}

.header .cta a:hover,
.header .cta a:active {
    background: #f8f9fa;
    color: #3b5998;
}